<div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div class="container-fluid px-0">
        <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-start">
            <img class="one-third js-fullheight align-self-end order-md-first img-fluid" src="images/undraw_co-working_825n.svg" alt="">
          <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
              <div class="text mt-5">
                  <span class="subheading">Cloud Template</span>
              <h1 class="mb-3"><span>Cloud,</span> <span>Management,</span> <span>Template</span></h1>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <p><a href="#" class="btn btn-secondary px-4 py-3">Get in touch</a></p>
            </div>
          </div>
          </div>
    </div>
  </div>